/* #date{
 display: none;
} */
/* input[type="date"].full:before {
 color:black;
 content:""!important;
} */
#brac_data_1501{
 display:none;
 
}
.present_value{
 display: none;
}
#cc_disp{
 display: none;
}
